[
    {rabbit, [
        {auth_backends, [rabbit_auth_backend_ldap]}
    ]},
    {rabbitmq_auth_backend_ldap, [
        {servers,          ["localhost"]},
        {user_dn_pattern,  "cn=${username},ou=People,dc=example,dc=com"},
        {tag_queries, [
            {administrator, {constant, false}},
            {management,    {constant, true }}
        ]},
        {log, network_unsafe}
    ]}
].
