[
    {rabbit, [
        {auth_backends, [rabbit_auth_backend_ldap, rabbit_auth_backend_internal]}
    ]},
    {rabbitmq_auth_backend_ldap, [
        {servers,               ["localhost"]},
        {user_dn_pattern,       "cn=${username},ou=People,dc=example,dc=com"},
        {other_bind,            {"cn=admin,dc=example,dc=com", "admin"}},
        {tag_queries, [
            {administrator,     {in_group, "cn=administrator,ou=groups,dc=example,dc=com", "uniqueMember"}},
            {monitoring,        {in_group, "cn=monitoring,ou=groups,dc=example,dc=com", "uniqueMember"}},
            {management,        {constant, true}},
            {policymaker,       {in_group, "cn=administrator,ou=${vhost},ou=env,dc=example,dc=com", "uniqueMember"}}
        ]},
        {vhost_access_query,    {in_group, "cn=users,ou=${vhost},ou=env,dc=example,dc=com", "uniqueMember"}},
        {resource_access_query,
            {'or', [
                {for, [
                    {permission, configure, {in_group, "cn=administrator,ou=${vhost},ou=env,dc=example,dc=com", "uniqueMember"}}
                ]},
                {for, [
                    {resource, exchange, {match,
                                             {string, "${name}"},
                                             {string, "^${username}-x"}
                    }},
                    {resource, queue,    {match,
                                             {string, "${name}"},
                                             {string, "^${username}-q"}
                    }}
                ]},
                {in_group, "cn=${name}-${permission},ou=${vhost},ou=env,dc=example,dc=com", "uniqueMember"}
            ]}
        },
        {log, network}
    ]}
].
