[
    {rabbitmq_auth_backend_ldap, [
        {servers,            ["ldap"]},
        {user_dn_pattern,    "cn=${username},ou=People,dc=example,dc=com"},
        {other_bind,         {"cn=admin,dc=example,dc=com", "admin"}},
        {tag_queries, [
            {administrator,  {in_group, "cn=administrator,ou=groups,dc=example,dc=com", "uniqueMember"}},
            {management,     {in_group, "cn=management,ou=groups,dc=example,dc=com", "uniqueMember"}}
        ]},
        {vhost_access_query, {'or', [
                {in_group, "cn=mgt_${vhost},ou=groups,dc=example,dc=com", "uniqueMember"},
                {in_group, "cn=msg_${vhost},ou=groups,dc=example,dc=com", "uniqueMember"}
            ]} 
        }, 
        {resource_access_query,
            {for, [{permission, write, {constant, true}},
                   {permission, read,  {constant, true}},
                   {permission, configure,  {constant, true}}
            ]
        }},        
        {log, network}
    ]}
].
