[
    {rabbit, [
        {auth_backends, [rabbit_auth_backend_ldap]}
    ]},
    {rabbitmq_auth_backend_ldap, [
        {servers,               ["localhost"]},
        {user_dn_pattern,       "cn=${username},ou=People,dc=example,dc=com"},
        {other_bind,            {"cn=admin,dc=example,dc=com", "admin"}},
        {tag_queries, [
            {administrator,     {in_group, "cn=administrator,ou=groups,dc=example,dc=com", "uniqueMember"}},
            {monitoring,        {in_group, "cn=monitoring,ou=groups,dc=example,dc=com", "uniqueMember"}}
        ]},
        {log, network}
      ]}
].
